.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box{
    padding: 20px;
    text-align: center;
    margin: 5px;
    flex: 1;
}
main{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px;
}
.main{
    padding: 20px;
    text-align: center;
    flex: 1;
}

#title-logo {
    height: 100px;
}

.img-c{
    height: 500px;
}
.subtitulo{
    font-style: italic;
}
.content{
    text-align: justify;
    flex: 1;
}