* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans";
}
@font-face {
    font-family: "Gliker";
    src: url(../Gliker-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../OpenSans-VariableFont_wdth\,wght.ttf);
}
/* INICIO DE LA PAGINA */

#title-logo {
    height: 50px;
    width: 150px;
}

#subtitulo{
    font-style: italic;
    font-family: "Open Sans";
    padding: 0%;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box-1,.box-2{
    padding: 20px;
    text-align: justify;
    flex: 1;
    height: 150px;
    font-size: large;
    margin: 20px;
}
.box-1{
    background: linear-gradient(135deg, rgb(227, 255, 148, 0.4), rgb(182, 212, 127, 0.4), rgb(127, 212, 161, 0.4), rgb(148, 255, 215, 0.4));
}

.main-c{
   padding: 0%;
}
/* PARTE PRINCIPAL DE LA PAGINA */

main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(135deg, #7e973c, #B6D47F, #7FD4A1, #94FFD7);
}

#title{
    font-family: "Gliker";
    font-size: xx-large;
    text-align: center;
    color: #083a27;
    padding: 15px;
}

/* CAJA DEL CENTRO */
#center {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-c{
    width: 70%;

}

.content{
    text-align: justify;
    width: 95%;
}

.submain2{
font-family: "Open Sans";
font-weight: bold;
font-size: medium;
}

ul{
    list-style-type: "♻️";
    list-style-position: initial;
}

p{
    padding: 20px;
    color: #062621;
}

/* INDICE */
.sidebar-l {
    padding: 20px;
    width: 20%;
}

/* COMUNIDAD */
.sidebar-r {
   padding: 20px;
    width: 20%;
}


