* {
    box-sizing: border-box;
}

/* INICIO DE LA PAGINA */

#title-logo {
    height: 70px;
}

.subtitulo{
    font-style: italic;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box{
    padding: 20px;
    text-align: center;
    margin: 5px;
    flex: 1;
}

/* PARTE PRINCIPAL DE LA PAGINA */

main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* CAJA DEL CENTRO */
#center {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-c{
    width: 95%;

}

.content{
    text-align: justify;
    width: 95%;
}

/* INDICE */
#title-index {
    text-align: center;
}

.sidebar-l {
    padding: 20px;
    width: 20%;
}

/* COMUNIDAD */
#title-community {
    text-align: center;
}

.sidebar-r {
    width: 20%;
}

